* {
  outline: 1px dotted #0001;
  padding: 0;
  margin: 0;
}

section {
  margin-top: 1rem;
}

.article-body {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.article-body {
  max-width: none;
  display: grid;
  grid-template-columns: [visible-start] 1fr [page-start] minmax(20ch, 80ch) [page-end] 1fr [visible-end];
}

.article-body > * {
  grid-column: page;
}

.full-width {
  /* display: grid; */
  /* grid-template-columns: minmax(20ch, 80ch); */
  /* justify-content: center; */
  /* grid-column: fullWidth-start / fullWidth-end; */
  /* grid-column: view; */
  /* grid-column: visible; */
  /* background-color:azure; */
  /* padding: 1rem; */
}
