:root {
  --color-red: #FA5538;
  --color-purple: #AB50DC;
  --color-blue: #439BF3;
  --color-green: #48DC78;
  --color-yellow: #FAF797;
  --color-grey: #B7B7B7;
  --color-grey-white: #E0E0E0;
  --color-grey-black: #545454;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Nunito, sans-serif;
  background-color: #FFFBCB;
}

button {
  border: 0;
  padding: 0;
  outline: none;
  font-size: 100%;
  font-family: inherit;
  background: none;
  cursor: pointer;
}

.fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.game-content {
  padding: 2rem 4rem;
  background-color: #FFF;
}

.score,
.cube-score,
.progress-bar {
  text-align: center;
}

.cube {
  background-color: var(--color-grey-white);
  width: 100px;
  height: 100px;
  border-radius: .5rem;
}


.key {
  font-size: 2em;
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  border-radius: .5rem;
  background-color: var(--color-yellow);
}

.progress-bar {
  border: 2px solid var(--color-grey-white);
  border-radius: 5rem;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  font-size: small;
}

.btn {
  margin-top: .25rem;
  display: block;
  width: 100%;
  padding: .125em .5em;
  border: 2px solid var(--color-grey-white);
  border-radius: .25em;
}

.btn:hover {
  border-color: var(--color-grey);
}

.btn:active {
  border-color: var(--color-grey-black);
}

.hidden {
  display: none;
}

.color-false {
  background-color: var(--color-red);
}

.color-true {
  background-color: var(--color-green);
}
