/* grid stylesheet */

/*
    General page grid
*/

.page {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.page {
  max-width: none;
  display: grid;
  grid-template-columns: [visible-start] 1fr [page-start] var(--page-width) [page-end] 1fr [visible-end];
}

.page-section {
  display: grid;
  grid-column: visible;
  justify-content: center;
}

.base-column {
  display: grid;
  grid-column: visible;
  justify-content: center;
  grid-template-columns: var(--page-width);
}


/*
    header
*/

.header-wrap {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

/* logo */

.header-logo-wrap {
  justify-self: start;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.header-logo {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* nav */

.header-nav {
  justify-self: end;
}


/*
    title-section
*/

.title-section .base-column {
  grid-template-rows: 16.88rem auto 1.66rem auto  1.66rem auto 6.66rem;
  justify-items: start;
}

.title-section-title {
  grid-row: 2 / 3;
}

.title-section-subtitle {
  grid-row: 4 / 5;
}

.title-section .btn {
  grid-row: 6 / 7;
}


/*
    service-section
*/

.service-section .base-column {
  display: grid;
  grid-template-rows: 5.55rem auto .66rem auto 5.55rem auto 5.55rem;
}

.section-title {
  grid-row: 2 / 3;
}

.text-content {
  grid-row: 4 / 5;
}

.service-items {
  grid-row: 6 / 7;
}

/* service-items */

.service-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}

.service-item {
  display: grid;
  grid-template-rows: 1.33rem auto 1.22rem auto .66rem auto 1.66rem;
}

.service-item > * {
  justify-self: center;
}

.service-item .item-icon {
  grid-row: 2 / 3;
}

.service-item .item-title {
  grid-row: 4 / 5;
}

.service-item .text-content {
  grid-row: 6 / 7;
}


/*
    demo-section
*/

.demo-section .base-column {
  display: grid;
  grid-template-rows: 6.66rem auto auto;
}

.demo-section .section-title {
  grid-row: 2 / 3;
}

/*
    feature-section
*/

.feature-section .base-column {
  display: grid;
  grid-template-rows: 5.55rem auto .66rem auto 5.55rem auto 5.55rem;
}

.feature-section .section-title {
  grid-row: 2 / 3;
}

.feature-section .text-content {
  grid-row: 4 / 5;
}

/* feature-items */

.feature-section .feature-items {
  grid-row: 6 / 7;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5rem;
  justify-content: center;
}

.feature-item {
  display: grid;
  grid-template-rows: 3.33rem auto 3rem auto 1.22rem auto 3rem;
}

.feature-item > * {
  justify-self: center;
}

.feature-item .item-icon {
  grid-row: 2 / 3;
}

.feature-item .item-title {
  grid-row: 4 / 5;
}

.feature-item .text-content {
  grid-row: 6 / 7;
}

.feature-item .btn {
  grid-row: 8 / 9;
}


/*
    join-section
*/

.join-section .base-column {
  display: grid;
  grid-template-rows: 6.11rem auto 5.55rem auto 7.77rem ;
  justify-items: center;
}

.join-section .section-title {
  grid-row: 2 / 3;
}

.join-section .join-form {
  grid-row: 4 / 5;
  justify-items: start;
}


/*
    footer-section
*/

.footer-section {
  grid-template-rows: auto auto;
}


/* links-section */

.links-section .base-column {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row;
  column-gap: 108px;
  row-gap: 66px;
}


/* end-section */


.social-icons {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.social-link {
  display: grid;
  justify-items: center;
  align-items: center;
}

.end-section {
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: stretch;
  justify-items: end;
  grid-column: 2 / 3;
  align-items: center;
}

.copyright {
  justify-self: start;
}

.footer-logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}


/*
  responsive
*/

@media only screen and (max-width : 1110px) {

  .page {
    grid-template-columns: [visible-start] 1fr [page-start] auto [page-end] 1fr [visible-end];
  }

  .base-column {
    grid-template-columns: 90vw;
  }

  .service-items {
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 3rem;
    column-gap: 3rem;
  }

  .feature-section .feature-items {
    grid-template-columns: auto;
    row-gap: 5rem;
    justify-content: center;
  }

  .links-section {
    grid-template-columns: auto auto;
  }

  .end-section {
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
  }

  .end-section > * {
    justify-self: center;
  }
}